<a href="https://colab.research.google.com/github/AnjaliKrishna123/DataScience/blob/main/prgm4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [7]:
#printing first row with head
movies=pd.read_csv("IMDb movies.csv")
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
#descriptive Statistics
print(movies.describe())

           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [10]:
#check the column names
print("column names:%s"%movies.columns.values)

column names:['imdb_title_id' 'title' 'original_title' 'year' 'date_published' 'genre'
 'duration' 'country' 'language' 'director' 'writer' 'production_company'
 'actors' 'description' 'avg_vote' 'votes' 'budget' 'usa_gross_income'
 'worlwide_gross_income' 'metascore' 'reviews_from_users'
 'reviews_from_critics']

In [19]:
#check null data
print("NULL VALUES:\n")
print(movies.isna())
print(movies.isna().sum())
print("null values %s"%movies.isnull().values.any())
print("Total null values %d"%movies.isna().sum().sum())
print(movies.describe())

NULL VALUES:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
85850          False  False  ...                True                 False
85851          False  False  ...               False                 False
85852          False  False  ...                True                  True
85853          False  False  ...                True                  True
85854          False  False  ...                True                 False

[85855 rows x 22 columns]
imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64
null values True
Total null values 288652
           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [40]:
#shapes
print(movies.shape)
print("shape before :", movies.shape)
movies_df_num = movies.select_dtypes(exclude=['object'])
print("shape after excluding object columns: ", movies_df_num.shape)

(6616, 22)
shape before : (6616, 22)
shape after excluding object columns:  (6616, 6)

In [22]:
#duplicate rows
duplicate_rows_df = movies[movies.duplicated()]
print("number of duplicate rows: ",duplicate_rows_df.shape)

number of duplicate rows:  (0, 22)

In [28]:
print(len(movies.movie_IMDb_link.unique()))

AttributeError: ignored

In [36]:
#clean the dataset by droping the na values
clean_movies=movies.dropna(how='any')
movies=movies.dropna(how='any')
print(clean_movies)

      imdb_title_id  ... reviews_from_critics
506       tt0017136  ...                208.0
1048      tt0021749  ...                122.0
2454      tt0027977  ...                115.0
2795      tt0029453  ...                 55.0
2827      tt0029583  ...                173.0
...             ...  ...                  ...
85266     tt9208444  ...                 17.0
85274     tt9214832  ...                188.0
85397     tt9354944  ...                 42.0
85460     tt9426210  ...                110.0
85740     tt9779516  ...                 52.0

[6616 rows x 22 columns]